In [9]:
import bigjson
with open('../data/DBLP_v12/dblp.v12.json', 'rb') as f:
    j = bigjson.load(f)

In [10]:
def inverted_index_to_text(inverted_index, inverted_index_length):
    # Create a dictionary to hold the reconstructed documents
    documents = ['' for _ in range(inverted_index_length)]
    
    # Iterate over each term in the inverted index
    for term, positions in inverted_index.items():
        # print(term, positions)
        for pos in positions:
            documents[pos] = term
    
    return ' '.join(documents)

# Sample inverted index
inverted_index = {
    'hello': [(2)],
    'world': [(3)],
    'foo': [(0)],
    'bar': [(1)]
}

# Convert the inverted index to text
documents = inverted_index_to_text(inverted_index, 4)

# Print the reconstructed documents
print(documents)

foo bar hello world

In [11]:
def fos_to_text(fos):
    # Create a dictionary to hold the reconstructed documents
    strs = []
    
    # Iterate over each term in the inverted index
    for fo in fos:
        strs.append(fo['name'])
    
    return '\n'.join(strs)

In [12]:
from tqdm import tqdm
import pandas as pd
import os
import pickle


papers_text = {}

# with open('../data/DBLP_v12/dblp.v12.json', 'rb') as f:
#     j = bigjson.load(f)
#     for count in tqdm(range(4894081), total=4894081):
#         element = j[count]
#         element_str = element['title']
#         element_str += '\n' + 'Year: ' + str(element['year'])
#         element_str += '\n' + '#Citations: '  + str(element['n_citation'])
#         element_str += '\n' + element['doc_type']
#         element_str += '\n' + element['publisher']
#         if 'indexed_abstract' in element:  
#             element_str += '\n' + inverted_index_to_text(element['indexed_abstract']['InvertedIndex'], element['indexed_abstract']['IndexLength'])
#         if 'fos' in element:
#             element_str += '\n' + fos_to_text(element['fos'])
        
#     # papers_references.to_feather("data/DBLP_v12/papers_references.feather")
# pickle.dump(papers_text, open("../data/DBLP_v12/papers_text.pkl", "wb"))

In [13]:
with open('../data/DBLP_v12/papers_train.feather', 'rb') as f:
    train_papers = pd.read_feather(f)

with open('../data/DBLP_v12/papers_test.feather', 'rb') as f:
    test_papers = pd.read_feather(f)

train_papers = train_papers.rename(columns={'id': 'user_id', 'references': 'item_id'})
test_papers = test_papers.rename(columns={'id': 'user_id', 'references': 'item_id'})
ratings = pd.concat([train_papers, test_papers])

ratings

            user_id     item_id  rating
0              1674  1535888970       1
1              1674  1992876689       1
2              1674  1993710814       1
3              1674  2035653341       1
4              1674  2043970887       1
...             ...         ...     ...
13975185   99905544  1562217771       1
13975186   99905544  1625504505       1
13975187   99905544  2015022770       1
13975188  999847014  1978183200       1
13975189  999847014 -1749987118       1

[42368924 rows x 3 columns]

In [14]:
user_list = list(ratings['user_id'].drop_duplicates())
user2id = {w: i for i, w in enumerate(user_list)}

item_list = list(ratings['item_id'].drop_duplicates())
item2id = {w: i for i, w in enumerate(item_list)}

In [15]:
# pickle.dump(user2id, open("../data/DBLP_v12/user2id.pkl", "wb"))
# pickle.dump(item2id, open("../data/DBLP_v12/item2id.pkl", "wb"))

In [16]:
train_papers

            user_id     item_id  rating
0              1674  1535888970       1
1              1674  1992876689       1
2              1674  1993710814       1
3              1674  2035653341       1
4              1674  2043970887       1
...             ...         ...     ...
28393729   99905544 -2134741067       1
28393730  999847014  1940933138       1
28393731  999847014  1975620021       1
28393732  999847014  2097595927       1
28393733  999847014  2144370861       1

[28393734 rows x 3 columns]