In [5]:
import pickle
import pandas as pd

course_texts = pickle.load(open('../pickles/course_texts.pkl', 'rb'))

text_df = pd.DataFrame.from_dict(course_texts, orient='index')
text_df.reset_index(inplace=True)
text_df.columns = ['course_id', 'text']
text_df['course_id'] = text_df['course_id'].apply(lambda x: x.split('_')[-1])
text_df

     course_id                                               text
0       584313  Topic 1: History of\nTopic 2: Chinese Language...
1       584329  Topic 1: Applied Economics\nTopic 2: Mathemati...
2       584381  Topic 1: Artistry\nTopic 2: News Communication...
3       597208  Topic 1: Computer Science and Technology\nDesc...
4       597225  Description: The university computer program w...
...        ...                                                ...
3776   2338076  Description: Programme for 2021 [Primary Term ...
3777   2341259  Description: Programme for 2021 [Primary Term ...
3778   2337996  Description: Programme for 2021 [Primary Term ...
3779   1945689  Description: 清华张敏老师带你12 weeks掌握机器学习!8 big clas...
3780   2329163  Description: The Creative Writing Case Practic...

[3781 rows x 2 columns]

In [3]:
DATASET_NAME = 'MOOCCubeX'
MODEL_NAME = 'NeuMF'
TRAIN_DATASET_FILE = 'train.feather'
TEST_DATASET_FILE = 'test.feather'
MAIN_PATH = f'../data/{DATASET_NAME}/'
TRAIN_DATA_PATH = MAIN_PATH + TRAIN_DATASET_FILE
TEST_DATA_PATH = MAIN_PATH + TEST_DATASET_FILE
MODEL_PATH = f'./models/{DATASET_NAME}/'
MODEL = f'{DATASET_NAME}-{MODEL_NAME}'

item2id = pickle.load(open(MAIN_PATH + 'item2id.pkl', 'rb'))

for item in item2id.items():
    print(item)
    break

train_rating_data = pd.read_feather(TRAIN_DATA_PATH)
test_rating_data = pd.read_feather(TEST_DATA_PATH)
print(train_rating_data.head())

for rating in train_rating_data.iterrows():
    print(rating)
    course_id = 'C_' + str(rating[1]['course_id'])
    if course_id in course_texts.keys():
        print(course_texts[course_id])
        break

# print(course_texts[course_id])
course_id

(375629, 0)
     id  course_id  rating
0  U_24     597214       1
1  U_24     605512       1
2  U_24     597211       1
3  U_24     597314       1
4  U_24     597208       1
(0, id             U_24
course_id    597214
rating            1
Name: 0, dtype: object)
(1, id             U_24
course_id    605512
rating            1
Name: 1, dtype: object)
(2, id             U_24
course_id    597211
rating            1
Name: 2, dtype: object)
(3, id             U_24
course_id    597314
rating            1
Name: 3, dtype: object)
Topic 1: Chinese Language Literature
Description: The current data science and artificial intelligence talent gap is unprecedented, and the need for learning of AI-related knowledge is also significantly increased. The course consists mainly of eight lectures and one conversion challenge task, lectures held once a week.

'C_597314'